@import"./reset";
@import"./variables";
@import "./responsive";


.section {
    margin-left: auto;
    margin-right: auto;

    &_fila_col {
        margin: 2px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }

    &_titulo {
        padding-bottom: 30px;
        padding-top: 30px;
        margin: 0;
        text-align: center;
        color: transparent;
        font-weight: normal;
        background: linear-gradient(45deg, black, #A9CCE3);
        -webkit-background-clip: text;
        position: relative;
        font-family: monospace;
        font-display: swap;

    }

    &_info {
        font-size: 25px;
        font-weight: bold;
        padding: 30px;
        text-align: center;
        font-family: monospace;
        font-display: swap;
        height: auto;
        display: flex;
    }

    &_hogar {
        padding-top: 2px;
        margin-top: 3px;
        text-align: center;

    }

    &_servicios {
        padding: 15px;
        margin-top: 20px;
        font-family: monospace;
        font-display: swap;
    }


    &_serv_tit {
        padding-bottom: 25px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        font-family: monospace;
        font-display: swap;
    }

    &__frioCalor {
        font-family: monospace;
        font-display: swap;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 20px;
    }
}

/*--------------portada-----------*/
.container-portada {
    width: 100%;
    height: 600px;
    background-image: url(/assets/portada.webp );
    background-size: cover;
    position: relative;
    animation: movimiento 20s linear infinite alternate;
    animation-duration: 20s;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@keyframes movimiento {
    from {
        background-position: top left;
    }

    to {
        background-position: bottom right;
    }
}

.capa-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(45deg,
            #A9CCE3, white);
    opacity: 0.6;
}


.container-details {
    position: relative;
    width: 100%;
    display: flex;

}


.btn-Info {
    color: $contactoDerechos;
    background: none;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: monospace;
    font-size: 1em;
    text-align: center;
    margin-left: 50px;
    margin-top: 0%;
    text-decoration: none;
    font-weight: bold;
}

.btn-Info:hover {
    background-color: honeydew;
    color: grey;
}


/*--------------MAPS--------------*/

$estiloMain :(alineacion : center,
    Fuente: monospace,
    negrita: bold,
);


.section {
    font-weight: map-get($estiloMain, Fuente);
    font-family: map-get($estiloMain, negrita);
    align-items: map-get($estiloMain, alineacion);

}


.btn__wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.bi-whatsapp {
    align-items: center;
}

.btn__wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: white;
}

.aire {
    object-fit: cover;

}

.radiador {
    object-fit: cover;
}

.caldera {
    object-fit: cover;
}

.heladera {
    object-fit: cover;
}

.section {
    background: rgba(179, 220, 237, 1);
    background: -moz-linear-gradient(-45deg, rgba(179, 220, 237, 1) 0%, rgba(179, 220, 237, 1) 27%, rgba(41, 184, 229, 1) 50%, rgba(179, 220, 237, 1) 70%, rgba(188, 224, 238, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(179, 220, 237, 1) 0%, rgba(179, 220, 237, 1) 27%, rgba(41, 184, 229, 1) 50%, rgba(179, 220, 237, 1) 70%, rgba(188, 224, 238, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(179, 220, 237, 1) 0%, rgba(179, 220, 237, 1) 27%, rgba(41, 184, 229, 1) 50%, rgba(179, 220, 237, 1) 70%, rgba(188, 224, 238, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(179, 220, 237, 1) 0%, rgba(179, 220, 237, 1) 27%, rgba(41, 184, 229, 1) 50%, rgba(179, 220, 237, 1) 70%, rgba(188, 224, 238, 1) 100%);
    background: linear-gradient(135deg, rgba(179, 220, 237, 1) 0%, rgba(179, 220, 237, 1) 27%, rgba(41, 184, 229, 1) 50%, rgba(179, 220, 237, 1) 70%, rgba(188, 224, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1);
}

.solhielo {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 4rem;

}

.hogarrounded {
    margin-bottom: 3px;
}



#carousel {
    padding: 20px;
}