@import"./variables";
@import"./responsive";
@import "../parciales/reset";

/*-------------ESTILOS PROMOCIONES-----------*/
.section_prom {
    margin: 0;
    background-image: url(/assets/portada.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.section__promo {
    text-align: center;
    padding: 20px;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(black,
            grey);
    -webkit-background-clip: text;
    position: relative;
    font-family: monospace;
}

.imagInstala1 {
    text-align: center;
}

.imagInstala2 {
    text-align: center;
}

.section__promo1 {
    border-radius: 30% 5px solid black;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.section__promo2 {
    border-radius: 30% 5px solid black;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
}