@import"./variables";
@import"./responsive";
@import "../parciales/reset";

/*------------ESTILOS PRESUPUESTOS----------*/

.section__presu {
    text-align: center;
    padding: 20px;
    color: transparent;
    font-weight: normal;
    background: linear-gradient(black,
            grey);
    -webkit-background-clip: text;
    position: relative;
    font-family: monospace;
}

.section__pre {
    margin: 0;
    background-image: url(/assets/air-conditioning-decoration-interior\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}